  .TextTitle, .SubHeading1, .SubHeading2{
    font-family: 'Verdana', sans-serif;
    color: white;
    text-align: center;
  }

  .TextTitle{
    font-size: 40px;
  }

  .SubHeading1{
    font-size: 30px;
  }

  .SubHeading2{
    font-size: 22px;
  }

  .me2, .clawMachine, .logicWorks{
    border-radius: 50px;
    box-shadow: 0 0 40px 15px #0951ff; 
  }

  .logicWorks{
    max-width: 500px;
  }

  .me2, .clawMachine{
    max-width: 400px;
  }

  .me2:hover, .clawMachine:Hover{
    box-shadow: 0 0 60px 15px #0951ff;
  }


  .carousel{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    padding: 100px;
  }
  
  .carousel-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
    column-gap: 60px;

  }

  .backB, .nextB{
    height: 50px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }

  .backB:hover, .nextB:hover{
    cursor: pointer;
  }

  .hang, .canoe{
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 40px 15px #09c6ff; 
  }

  .hang:hover, .instagramE:hover, .canoe:hover{
    box-shadow: 0 0 60px 15px #09c6ff;
  }

  .instagramE{
    margin-top:100px;
    border-radius: 40px;
    box-shadow: 0 0 40px 15px #09c6ff;

  }

  .CC{
    width: 300px;
    border-radius: 30px;
    box-shadow: 0 0 20px 10px #09c6ff; 
  }

  .CC:hover{
    box-shadow: 0 0 30px 15px #09c6ff; 
  }
  