@font-face {
    font-family: "Lexend";
    src: url(src/assets/fonts/Lexend-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: "Mono-Reg";
    src: url(src/assets/fonts/SpaceMono-Regular.ttf);
  }
  
  @font-face{
    font-family: "Mono-Bold";
    src: url(src/assets/fonts/SpaceMono-Bold.ttf);
  }

  
  .TextTitle, .SubHeading1, .SubHeading2{
    font-family: Lexend;
    color: white;
    text-align: center;
  }

  .TextTitle{
    font-size: 40px;
  }

  .SubHeading1{
    font-size: 30px;
  }

  .SubHeading2{
    font-size: 22px;
  }
  
  .image-card1, .image-card2, .image-card3 {
    width: 27vw;
    height: 27vw;
    object-fit: cover;
    margin: 20px;
    border-radius: 20px;
  }

  .image-card2{
    box-shadow: 0 0 10px 5px #09c6ff;
  }

  .image-card2:hover{
    box-shadow: 0 0 15px 10px #09c6ff;
    cursor: pointer;
  }

  .image-card1, .image-card3{
    box-shadow: 0 0 10px 5px #0951ff;
    cursor: pointer;
  }

  .image-card1:hover, .image-card3:hover{
    box-shadow: 0 0 15px 10px #0951ff;
  }
  
  #lightbox-img {
    height: 80vh;
    max-width: 90vw;
    object-fit: cover;
  }
  
  #lightbox {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.849);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .prevD, .nextD {
    color: white;
    background-color: #27374f;
    font-size: 2rem;
    border-radius: 10px;
    margin: 40px;
    cursor: pointer;
  }

  .imagelight{
    min-width: 400px;
    min-height: 400px;
    max-height: 700px;
    object-fit: contain;
  }
  
  
  