  .TextTitle, .SubHeading1, .SubHeading2{
    font-family: 'Verdana', sans-serif;
    color: white;
    text-align: center;
  }

  .TextTitle{
    font-size: 40px;
  }

  .SubHeading1{
    font-size: 30px;
  }

  .SubHeading2{
    font-size: 22px;
  }