@font-face {
  font-family: "Lexend";
  src: url(src/assets/fonts/Lexend-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Mono-Reg";
  src: url(src/assets/fonts/SpaceMono-Regular.ttf);
}

@font-face{
  font-family: "Mono-Bold";
  src: url(src/assets/fonts/SpaceMono-Bold.ttf);
}


/*
Front Matter
*/

html {  
  scroll-behavior: smooth;  
}

body {
  margin:0;
  padding:0;
  background-color: #000000;
}

header{
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1%;
  padding-top: 20px;
  padding-bottom: 20px;
}





/*
NavBarHeader
*/

.linkH {
  text-decoration:none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  position: relative;
  top: -5px;
  font-family: Lexend;
}

.linkH:hover, .linkF:hover{
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.link{
  display: inline-block;
  padding: 0px 100px;
  padding-top: 12px;
}

.icon{
  padding-left: 0px;
  padding-right: 25px;
  position: relative;
  top: -4px;
}

.iconH{
  padding-left: 25px;
}



/*
TypeWriter - Computer
*/

.computer{
  height: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: -webkit-image-set("/src/assets/bg.svg");
  background-repeat: no-repeat;
  box-shadow: 0 0 20px 15px #0951ff;
}


.typeWriteDiv{
  height: 300px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000310;
  border-radius: 5px;
  border-width: 2px;
  cursor: pointer;
  border-style: solid;
  padding: 1.5rem;
  margin-top: 25px;
  color: #0951ff;
  box-shadow: 0 0 50px 15px #0951ff;
}

.typeWriteDiv:hover{
  box-shadow: 0 0 70px 15px #0951ff;
  cursor: default;
}

.typeWrite{
  height: auto;
  color: white;
  font-family: Mono-Reg;
  font-size: 20px;
}



/*
MiniAbout
*/

.miniAbout{
  box-shadow: 10px 15px 20px #09c6ff;
}


.intro, .tech{
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content:space-around;
  align-content: center;
}

.intro{
  padding-top: 200px;
  padding-bottom: 70px;
}

.tech{
  padding-top: 50px;
  padding-bottom: 100px;
}

.meDiv, .blurbDiv, .circuitDiv, .blurbDivT{
  display: inline-block;
}

.blurbDiv{
  display: inline-block;
}

.me{
  width: 300px;
  height: auto;
  box-shadow: 0 0 40px 15px #09c6ff;
  border-radius: 20px;
}

.me:hover{
  box-shadow: 0 0 60px 15px #09c6ff;
}

.blurb{
  font-size: 33px;
  color: white;
  font-family: Lexend;
  width: 300px;
  padding-top: 50px;
}


.hobbies{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobbies-text{
  font-size: 40px;
  color: white;
  font-family: Lexend;
  padding-bottom: 30px;
}

.hobbiesIcon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10%;
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: wrap;
}

.hobby{
  width: 100px;
  height: auto;
  padding-bottom: 60px;
}


.circuit{
  width: 400px;
  height: auto;
  box-shadow: 0 0 40px 15px #09c6ff;
  border-radius: 20px;
  margin-top: 60px;
}

.circuit:hover{
  box-shadow: 0 0 60px 15px #09c6ff;
}

.blurbT{
  font-size: 33px;
  color: white;
  font-family: Lexend;
  width: 300px;
}




/*
SkillsSlider
*/
.activeSlider{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  height: h-screen;
  background-color: #000000;
  margin-top: 30px;
  padding: 100px;

}

.swiper{
  max-width: 90%;
}

.swiperSlide{
  display: flex;
  flex-direction: column;  
  gap: 6px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.images{
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  
}


.title, .content{
  color: white;
  font-family: Mono-Reg;
}







/*
NavBarFooter
*/

footer{
  padding: 20px;
}

.navBarF{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1px;
}

.iconF, .navLinks{
  display: inline-block;
}

.iconF{
  padding-top: 4%;
}

.navLinks{
  width: 82%;
}

.linkF{
  font-size: 22px;
  color: white;
  font-family: Lexend;
  text-decoration:none;
  padding: 5%;
  display: inline-block;
}
