/*
Front Matter
*/

html {  
  scroll-behavior: smooth;  
}

body {
  margin:0;
  padding:0;
}

header{
  background-color: #0d0d0d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1%;
}



/*
NavBarHeader
*/


li, a {
  text-decoration:none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  position: relative;
  top: -5px;
}

li:hover{
  text-decoration: underline;
}

.link{
  display: inline-block;
  padding: 0px 100px;
}

.icon{
  padding-left: 0px;
  padding-right: 25px;
  position: relative;
  top: -4px;
}