@font-face {
  font-family: "Lexend";
  src: url(src/assets/Lexend-VariableFont_wght.ttf);
}

/*
Front Matter
*/

html {  
  scroll-behavior: smooth;  
}

body {
  margin:0;
  padding:0;
  background-color: #00051a;
}

header{
  background-color: #0d0d0d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1%;
}





/*
NavBarHeader
*/

li, .linkH {
  text-decoration:none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  position: relative;
  top: -5px;
  font-family: Lexend;
}

li:hover, .linkF:hover{
  text-decoration: underline;
}

.link{
  display: inline-block;
  padding: 0px 100px;
  padding-top: 12px;
}

.icon{
  padding-left: 0px;
  padding-right: 25px;
  position: relative;
  top: -4px;
}

.iconH{
  padding-left: 25px;
}



/*
TypeWriter
*/

.typeWriteText{
  color: white;
}





/*
NavBarFooter
*/

footer{
  padding: 20px;
}

.navBarF{
  display: flex;
  grid-template-columns: 2fr 1fr;
  
}

.iconF{
  position: relative;
  transform: translateY(25%);
}

.linkF{
  font-size: 20px;
  color: white;
  font-family: Lexend;
  text-decoration:none;
  padding: 5%;
  display: inline-block;
}
